.container {
    position: relative;
    width: 100%;
}

.error {
    color: 'red';
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(110%);
}

.input {
    padding: 5%;
}